.header {
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  max-width: 1440px;
  background: var(--inputs);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 64px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  text-decoration: none;
}

.active {
  color: var(--button-hover);
}
